manifest {
  name = 'SevenBridges'
}

tower {
  accessToken = 'eyJ0aWQiOiAxfS44NzhiYTVhNDA3OGVkNDk3NTczNjNmZWM4YTk4NjZkM2YxYzA4ODMx'
  enabled = true
  endpoint = 'http://pnap-tower.tgen.org:8000/api'
}

singularity {
  enabled = true
  cacheDir = '/scratch/vpagano/nxf-singularity'
  runOptions = '--bind /scratch/vpagano:/scratch/vpagano --bind /home/tgenref:/home/tgenref'
}

profiles {

  dback {
    process.beforeScript = 'module load singularity/3.8.4'
  }

  gemini {
  }

  local {
    process.executor='local'
  }

 }

process {
  executor = 'slurm'
}


params {
  workflow = '/scratch/vpagano/sb/graf-germline-workflow-1-2.json'
  sif = '/scratch/vpagano/sb/gral-rasm-stats-1-2-2.sif'
  outputDir = '/scratch/vpagano/results/outputs_small'
  yaml = '/scratch/vpagano/sb/inputs_small.yaml'
}

